<?xml version="1.0"?>
<launch>
<!-- Source: https://github.com/Pallav1299/Navigate_Multiple_Robots -->
    <arg name="robot_name"/>
    <arg name="init_pose"/>

    <node name="spawn_minibot_model" pkg="gazebo_ros" type="spawn_model"
     args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)"
     respawn="false" output="screen" />


</launch>
